*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    display: flex;

    .firstcircle,.secondcircle{
        aspect-ratio: 1/1;
        width:  300px ;
        background: red;
        border-radius: 50%;
    }
    .secondcircle{
        display: flex;
        align-items: center;
        justify-content: center;
        background: blue;
        position: relative;
        .firstcircle{
            position: absolute;
            top: 50%;
            left: 50%;
            transform : translate(-50%, -50%);
        }
        
    }
}
